*{
	padding: 0;
	margin: 0;
}

.boxregistrar{
	border-radius: 4px;
	margin: 70px auto;
	width: 320px;
	box-shadow: 0px 2px 10px #111111;
}


input[type="submit"]{
	margin-top: 30px;
	margin-left: 20%;
}

h1{
	text-align: center;
	margin-top: 4%;
}

.titulo{
	margin-top: -5px;
	text-align: center;
}



